/* App.css */
.App {
    text-align: center;
  }
  
  .root-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content-wrap {
    flex: 1; 
    padding-bottom: 60px; 
    overflow-y: auto; 
  }