html, body {
    height: 100dvh;
    padding: 0;
    overscroll-behavior: none; /* 당김 방지 */
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*
@font-face {
    font-family: 'UDOnGothic-Regular'; 
    src: url('./fonts/KoddiUDOnGothic-Regular.ttf') format("truetype"); 
  }


  @font-face {
    font-family: 'UDOnGothic-Bold'; 
    src: url('./fonts/KoddiUDOnGothic-Bold.ttf') format("truetype"); 
  }
  
*/


@font-face {
    font-family: 'Pretendard-Regular'; 
    src: url('./fonts/Pretendard-Regular.ttf') format("truetype"); 
  }
  
  body {
    font-family: "Pretendard-Regular";
  }

