body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


@font-face {
    font-family: 'UDOnGothic-Regular'; 
    src: url('./fonts/KoddiUDOnGothic-Regular.ttf') format("truetype"); 
  }


  @font-face {
    font-family: 'UDOnGothic-Bold'; 
    src: url('./fonts/KoddiUDOnGothic-Bold.ttf') format("truetype"); 
  }
  
@font-face {
    font-family: 'UDOnGothic-ExtraBold'; 
    src: url('./fonts/KoddiUDOnGothic-ExtraBold.ttf') format("truetype"); 
  }
  
  body {
    font-family: "UDOnGothic-Regular";
  }